*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: normal;
}

body {
  background: linear-gradient(to right, #746cdd,rgb(96, 96, 194),rgb(216, 61, 216), rgb(226, 142, 226));
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px; 
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.grid-item {
  border: none;
  padding: 2px;
  align-items: center;
}
.page-title {
  text-align: center;
  margin-bottom: 15px;
  font-size: 50px;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   
}

.grid-item:nth-child(1) {
  justify-self: end; /* Right align */
}

.grid-item:nth-child(2) {
  justify-self: center; /* Center align */
}

.grid-item:nth-child(3) {
  justify-self: start; /* Left align */
}

.grid-item .gif{
  margin: 0px;
}

.grid-item .gif2{
  margin: 0px;
}

.calculator-grid {
  
  display: grid;
  margin: 0.1px;
  min-height: 100%;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(140px, auto) repeat(5, 80px);
  
}

.calculator-grid > button {
  border-radius: 4px;
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid black;
  outline: none;
  background-color:white;
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, .9);

}

.span-two {
  grid-column: span 2;
}

.output {
  border-radius: 2%;
  grid-column: 1 / -1;
  background-color: black;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  border: 0.3pc white double;
  min-height: 80px;
  overflow: hidden; /* Hide overflow to prevent crossing the border */
}

.output .previous-operand,
.output .current-operand {
  overflow: hidden; /* Hide overflow of operands */
  white-space: nowrap; /* Prevent line breaks in operands */
  text-overflow: ellipsis; /* Show ellipsis (...) for truncated text */
}

.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}


@media screen and (max-width: 660px) {
  .grid-item .gif,
  .grid-item .gif2 {
    flex-direction: column;
    word-wrap: break-word;
   background:rgba(0, 0, 0, 0.9);
   width: 100%;
   height: 100vh;
   justify-content: center;
   align-items: center;
   position: absolute;
   top:0;
   left: -100%;
   z-index: -3;
   transition: 0.3s;
   margin: 0;
   padding: 0;
  
  }
  .calculator-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(95px, auto) repeat(5, 50px);
    gap: 0px;
  }

  .calculator-grid > button {
    font-size: 1.5rem;
    padding: 4px;
  }

  .output {
    padding: 5px;
    min-height: 60px;
    font-size: 0.5px;
  }

  .page-title{
    font-size: 50px;
  }

}